h1, h3
{
    text-align:center;
}
h3
{
    background-color:#64abfb;
    color:white;
    font-size:0.7em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

a
{
    text-decoration: none;
    color: blue;
}
