#cookiePopup {
  background: #444;
  color: #fff;
  padding: 6px;
  font: 11px sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 4px 7px;
}

#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}
#cookiePopup button:hover {
  background: #fff;
  color: #222;
}
#cookiePopup a {
  color: #64abfb;
}
.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}
.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
*
{

  	box-sizing: border-box;
 	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
}
p
{
	color: #111;
}
header
{
	position: relative;
	padding: 20px 10px;
	width: 100%;
	background-color: #64abfb;
	display: flex;
	align-items: center;
	transition: 0.5s;
	border-bottom: 15px solid rgb(128,128,128);
}
.logo
{
	color: #111;
	font-weight: bold;
	font-size: 2em;
	text-decoration: none;
}
.navbar
{
	display: flex;
	position: relative;
}
header .navbar
{
	background-color: #64abfb;
	padding: 0px 100px;
	margin: 0;
}

header .navbar li 
{
	list-style: none;
	line-height: 30px;
	background-color: #64abfb;
	color: #fff;
	padding: 10px  15px;
	font-size: 20px;
}
li
{
	font-size: 16px;
	
}
ul
{
	padding-left: 30px;
}

header .navbar li a
{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: 700;
	font-size: 20px;
	align-items: center;
}

header .navbar li  a:hover
{
	color: #fff;
	border-bottom: 2px solid #fff;
}
header .navbar li ul
{
	display: none;
}
.navbar li:hover ul
{
	z-index: 99999;
	display: list-item;
	position: absolute;
	margin-top: 5px;
	margin-left: -10px;
	list-style-type: none;
}
.navbar li:hover ul li
{
	float: none;
}


.banniere
{
	position: relative;
	width: 100%;
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("php-banner.png");
}
.banniere .contenu
{
	max-width: 100%;
	text-align: center;
}
.banniere .contenu h1
{
	color: #64abfb;
	font-size: 7em;
	text-transform: uppercase;
}
.banniere .contenu p
{
	color: #111;
	font-size: 3em;
	text-transform: capitalize;
}

section
{

margin-top: 20px;
}

section aside
{
float: left;
margin-right: 15px;
width: 235px;
background-color: rgb(255, 255, 255);
border-radius: 10px;
padding: 10px;
color: black;
margin-bottom: 5px;
margin-top: 50px;
margin-left: 10px;
border: 1px solid #64abfb;
} 
 

section aside h1
{
background-color: #64abfb;
color: rgb(255, 255, 255);
padding: 5px 10px;
font-family: Verdana, Arial, serif;
font-size: 18px;
margin: 0px;
font-weight: normal;
border-radius: 10px 10px 0px 0px;
text-transform: none;
display: block;
width: 235px;
position: relative;
right: 10px;
bottom: 10px;
text-align: center;
}
 
 
section aside p
{
font-family: Verdana, Arial, serif;
font-size: 0.8em;
color: rgb(124, 123, 123);
}


section #main
{
margin-left: 255px;
width: 1020px;
padding: 15px 25px;



} 
 
section #main p
{
font-family: Verdana, Arial, serif;
font-size: 0.8em;
line-height: 1.7em;
margin-top: 0.3em;
margin-bottom: 0.9em;
padding: 5px 10px;
} 

section #main ul
{
font-family: Verdana, Arial, serif;
font-size: 0.8em;
margin-top: 0.3em;
margin-bottom: 0.9em;
} 


section #main h1
{
margin: 0px;
margin-top: 10px;
padding: 20px 0px;
color: #64abfb;
font-family: Verdana, Arial, serif;
font-size: 25px;
font-weight: bold;
text-align: center;
line-height: 7px;
text-transform: none;
} 

section #main p
{
font-family: Verdana, Arial, serif;
font-size: 18px;
} 






#photo_gaetan
{
text-align: center;
} 

#photo_gaetan img
{
border: 1px solid #181818;
} 
aside img
{
margin-right: 5px;
}




.copyright
{
	padding: 20px 40px;
	border-top: 2px solid rgba(0,0,0,0.1);
	background-color: rgb(128,128,128);
	text-align: center;
}
.copyright p:nth-child(1)
{
	color: #333;
}
.copyright a
{
	color: #111;
	text-decoration: none;
	font-weight: 600;
}


.btn
{
	font-size: 1em;
	color: #fff;
	background: #64abfb;
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}